.offering-main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ourofferingcard-disp-div {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
