@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.aboutpage-bg {
  background-image: linear-gradient(to bottom, #bce7cd, #a5cc74);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutpage-maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 2s;
}

.aboutpage-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.aboutpage-contentdiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Poppins;
  padding: 3rem;
  gap: 2rem;
}

.about-content-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  color: #093f97;
}

.aboutpage-content-title {
  border-bottom: 2px solid #4ea558;
}

div p {
  text-align: justify;
}

.aboutpage-icons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.animated-num-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.animated-num {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .aboutpage-bg {
    height: 160vh;
  }
  .aboutpage-img {
    display: none;
  }
  .aboutpage-contentdiv {
    margin-left: 0;
    width: 100vw;
  }
  .about-content-title {
    flex-direction: column;
  }
  .animated-num-div {
    width: 100vw;
    flex-direction: column;
    gap: 2rem;
  }
  .animated-num h3 {
    border-bottom: 2px solid #093f97;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .aboutpage-bg {
    height: 90vh;
  }
  .aboutpage-img {
    display: none;
  }
  .aboutpage-maindiv {
    align-items: center;
  }
  .aboutpage-contentdiv {
    margin-left: 0;
    width: 100vw;
  }
  .about-content-title {
    flex-direction: column;
  }
  .about-content-title h2 {
    font-size: 3rem !important;
    flex-direction: row;
  }
  .aboutpage-contentdiv p {
    font-size: 1.5rem;
  }
  .animated-num-div {
    margin-top: 5rem;
    width: 80vw;
    flex-direction: row;
    gap: 2rem;
  }
  .animated-num h3 {
    border-bottom: 2px solid #093f97;
  }
}
